TEI{
   -oxy-display-tags: none;
   background-image: url("../images/background.png");
   background-repeat: repeat;
   background-position: center;
}
teiHeader,
fileDesc,
titleStmt,
publicationStmt,
p,
sourceDesc,
body,
text{
    -oxy-display-tags: none;
    display: block;
    margin: 1em;
    text-align: center;
}

title{
    font-size: 1.6em;
    font-weight: 500;
    color: #6c868f;
    -oxy-display-tags: none;
    padding: 0.2em;
    background-color: #fffdf3;
}
publicationStmt p, sourceDesc p{
    padding: 0.2em;
    background-color: #fffdf3;
    color: #6c868f;
    display: inline-block;
}
list{
    display: block;
    -oxy-display-tags: none;
}
item{
    background-color: #ffcfb1;
    color: #6c868f;
    border-radius: 4px;
    margin: 1em;
    padding: 1em;
    -oxy-display-tags: none;
      
}
persName{
    -oxy-display-tags: none;
    width: 50%;
    color: white;
    opacity: 0.5;
}
email{
    -oxy-display-tags: none;
    width: 50%;
    color: white;
    opacity: 0.5;
}
note{
    -oxy-display-tags: none;
    width: 100%;
    display: table-cell;
    text-align: center;
    margin-top: 1em;
}
surname{
    -oxy-display-tags: none;
}
forename{
    -oxy-display-tags: none;
}
list {
  content: oxy_button(actionID, 'Insert_New_Entry', showText, true);
}